* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
      background-color:  #FFCEA6;
      color:#50A4B3 ;
      font-family: "poppins", sans-serif;
      min-height: 100vh;
}

header,form  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

 .todo-input, form button {
     padding: 1rem;
     font-size: 25px;
     border: none;
     background: rgb(247, 248, 248);
     width: 250px;
     color: #ffffff ;
     
 }

 form button {
     color: #50A4B3;
     background: rgb(255, 255, 255);
     cursor: pointer;
     transition: all 0.3s ease;
     width: 50px;

 }

 form button :hover{
     background: #50A4B3;
     color: #ffffff;

 }

 .todo-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 20px;
    background-color: #ffffff;
    margin: 20px; 
    font-size: 30px;

 }
 .todo-list{
     min-width: 30%;
     list-style: none;
 }

 .fa-trash, .fa-check{
     pointer-events: none;
     /* width: 50px; */

 }
 .fa-trash{
     
     
 }
.fa-check{

}
.remove {
    visibility: none;
}
.todo{
    font-size: 0.8em;
    display: flex;
    justify-content: flex-start;
    
}
.todo li{
    flex: 1;
}